apiVersion: v1
kind: Service
metadata:
  name: mongodb
spec:
  ports:
    - port: 27017
  selector:
    app: mongodb
  clusterIP: None # Headless service para descoberta interna
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
spec:
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:6.0 # Imagem leve oficial
          ports:
            - containerPort: 27017
          # Sem volume persistente para economizar (dados somem se o pod reiniciar)
          # Para persistir, precisaria configurar PVC (Azure Disk)
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"