apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  type: ClusterIP # Apenas interno (segurança padrão)
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 80      # Porta exposta para o cluster
      targetPort: 8080 # Porta da aplicação Spring